<%= form_for(@candidate) do |f| %>
    <% if @candidate.errors.any? %>
        <div id="error_explanation">
          <h2>亲，出错了哟～</h2>
          <ul>
            <% @candidate.errors.messages.each do |msg| %>
                <li><%= msg[1].first %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% default_select_text= "--请选择--" %>
    <div class="field">
      <%= f.hidden_field :id %>
    </div>
    <div class="field">
      <%= f.label :name, "姓名" %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :cellphone, "手机号码" %>
      <br/>
      <%= f.text_field :cellphone %>
    </div>
    <div class="field">
      <%= f.label :sex, "性别" %>
      <br/>
      <%= f.select :sex, ['男', '女'], :include_blank => default_select_text %>
    </div>
    <div class="field">
      <%= f.label :college, "毕业院校" %>
      <br/>
      <%= f.text_field :college %>
    </div>
    <div class="field">
      <%= f.label :major, "专业" %>
      <br/>
      <%= f.text_field :major %>
    </div>
    <div class="field">
      <%= f.label :graduate_year, "毕业年月" %>
      <br/>
      <%= f.select :graduate_year, ['2009', '2010', '2011', '2012'], :include_blank => default_select_text %>
      <%= f.select :graduate_month, ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], :include_blank => default_select_text %>
    </div>
    <div class="field">
      <%= f.label :email, "电子邮箱" %>
      <br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :degree, "学位" %>
      <br/>
      <%= f.select :degree, ['学士', '硕士', '博士', '其他'], :include_blank => default_select_text %>
    </div>
    <div class="field">
      <%= f.label :job_title, "应聘职位" %>
      <br/>
      <%= f.select :job_title, ['应用软件开发工程师', '质量保证工程师'], :include_blank => default_select_text %>
    </div>
    <div class="field">
      <%= f.label :track_source, "招聘信息来源" %>
      <br/>
      <%= f.select :track_source, ['同学介绍', '宣讲会','学校BBS','招聘网站','微博/博客','其他'], :include_blank => default_select_text %>
    </div>
    <div class="field">
      <%= f.label :summary, "简历附件" %>
      <br/>
      <%= f.file_field(:summary, :class => 'file_input') %>
    </div>
    <div class="actions">
      <%= f.submit :value=>"提交" %>
    </div>
<% end %>
