<header>
  <h1>全部候选人</h1>
</header>

<div id="content">
  <table id="candidates">
    <tr>
      <th>Id</th>
      <th>Cellphone</th>
      <th>Name</th>
      <th>Sex</th>
      <th>College</th>
      <th>Major</th>
      <th>Graduate Date</th>
      <th>Email</th>
      <th>Degree</th>
      <th>JobTitle</th>
      <th>TrackSource</th>
      <th colspan="4">Resume</th>
    </tr>

    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.id %></td>
        <td><%= candidate.cellphone %></td>
        <td><%= candidate.name %></td>
        <td><%= candidate.sex %></td>
        <td><%= candidate.college %></td>
        <td><%= candidate.major %></td>
        <td><%= candidate.graduate_year %>.<%= candidate.graduate_month %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.degree %></td>
        <td><%= candidate.job_title %></td>
        <td><%= candidate.track_source %></td>
        <td><a href="<%= candidate.resume %>">Download</a></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <div class="actions">
    <%= link_to 'New Candidate', new_candidate_path, :class => "button" %>
  </div>
</div>

