<p id="notice"><%= notice %></p>

<ol>
  <li>
    <b>Cellphone:</b>
    <span><%= @candidate.cellphone %></span>
  </li>

  <li>
    <b>Name:</b>
    <span><%= @candidate.name %></span>
  </li>

  <li>
    <b>Sex:</b>
    <span><%= @candidate.sex %></span>
  </li>

  <li>
    <b>College:</b>
    <span><%= @candidate.college %></span>
  </li>

  <li>
    <b>Major:</b>
    <span><%= @candidate.major %></span>
  </li>

  <li>
    <b>Graduate at:</b>
    <span><%= @candidate.graduate_year %></span>
    <span><%= @candidate.graduate_month %></span>
  </li>

  <li>
    <b>Email:</b>
    <span><%= @candidate.email %></span>
  </li>

  <li>
    <b>Degree:</b>
    <span><%= @candidate.degree %></span>
  </li>

  <li>
    <b>JobTitle:</b>
    <span><%= @candidate.job_title %></span>
  </li>

  <li>
    <b>TrackSource:</b>
    <span><%= @candidate.track_source %></span>
  </li>

  <li>
    <b>Resume:</b>
    <span><%= @candidate.resume %></span>
  </li>
</ol>

<div class="actions">
  <%= link_to 'Edit', edit_candidate_path(@candidate), :class => "button" %>
  <%= link_to 'Back', candidates_path, :class => "button" %>
</div>
