<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @candidate.id %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @candidate.cellphone %>
</p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Sex:</b>
  <%= @candidate.sex %>
</p>

<p>
  <b>College:</b>
  <%= @candidate.college %>
</p>

<p>
  <b>Major:</b>
  <%= @candidate.major %>
</p>

<p>
  <b>Graduate at:</b>
  <%= @candidate.graduate_year %>
  <%= @candidate.graduate_month %>
</p>

<p>
  <b>Email:</b>
  <%= @candidate.email %>
</p>

<p>
  <b>Degree:</b>
  <%= @candidate.degree %>
</p>

<p>
  <b>JobTitle:</b>
  <%= @candidate.job_title %>
</p>

<p>
  <b>TrackSource:</b>
  <%= @candidate.track_source %>
</p>

<p>
  <b>Resume:</b>
  <%= @candidate.resume %>
</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
